@import "../../assets/global-styles/global-styles";

main#rewards {
    .rewards-section {
        margin-bottom: 4.5rem;
        padding: 0 1rem;
        color: $word-color-5;

        .intro {
            padding-top: 1rem;
            font-size: 0.875rem;
        }
    }

    .banner {
        padding: 0.4375rem 1rem;
        background-color: $banner-background;
        color: $word-color-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;

        h1 {
            font-size: 0.8125rem;
        }

        a {
            padding: 0.5rem 1rem;
            border: $btn-border-1 solid 1px;
            border-radius: 10rem;
            color: $word-color-1;
            line-height: 1rem;
        }
    }

    .rewards-section:nth-child(2) {
        padding: 0 0 20rem 0;
        background: $background-1 url("../../assets/images/Rewards-hero-mobile.webp") no-repeat bottom right;
        background-size: 100%;

        .heading-container {
            width: 61%;
            margin: 0 auto;
            padding: 2rem 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 1.75rem;
            }

            .intro {
                font-size: 1rem;
            }

            .join-in-app, .join-online {
                a {
                    font-size: 0.875rem;
                }
            }

            .join-in-app {
                margin-top: 2rem;

                a {
                    padding: 0.5rem 1rem;
                    background-color: $background-3;
                    border-radius: 10rem;
                    color: $word-color-1;
                }
            }

            .join-online {
                margin-top: 1rem;
                
                a {
                    color: $word-color-2;
                    text-decoration: underline;
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .rewards-section:nth-child(3) {
        font-size: 0.875rem;

        h2 {
            font-size: 1.5rem;
            text-align: center;
        }

        .intro {
            padding-bottom: 3rem;
            text-align: center;
        }

        .getting-started-container {
            .getting-started {
                display: flex;
    
                img {
                    height: 3rem;
                    width: 3rem;
                    margin-right: 1rem;
                }
    
                .text {
                    h3 {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
    
                    p {
                        padding-top: 1rem;
                        line-height: 1.25rem;
    
                        a {
                            color: $word-color-7;
                            font-size: 0.875rem;
                            font-weight: 700;
                        }
                    }
                }
            }
    
            .getting-started:nth-child(2) {
                margin: 2rem 0;
            }
        }
    }

    .rewards-section:nth-child(4) {
        padding: 0;
        background-color: rgba(212, 233, 226, 0.3);

        h2 {
            padding: 3rem 0 1rem;
            text-align: center;
        }

        .option-btn {
            display: grid;
            grid-auto-columns: minmax(0, 1fr);
            grid-auto-flow: column;
            position: relative;

            button {
                padding: 0.5rem 0 1rem;
                background-color: transparent;
                border: none;
                font-size: 1.1875rem;
                font-weight: 700;

                span {
                    color: $star;
                    font-size: 0.65rem;
                    pointer-events: none;
                }
            }

            .underline {
                height: 0.25rem;
                width: 20%;
                background-color: $underline-current-1;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.4s;
            }
        }

        .option {
            height: 28rem;
            padding: 2rem 0;
            background-color: $background-1;
            position: relative;

            .content {
                opacity: 0;
                position: absolute;
                top: 0;
                transition: 0.4s;

                img {
                    width: 100%;
                    padding: 1rem 0;
                }

                h3, p {
                    padding: 0 1rem;
                    line-height: 1.25rem;
                    text-align: center;
                }

                h3 {
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                }

                p {
                    font-size: 0.875rem;
                }
            }

            .content.active {
                opacity: 1;
                transition: 0.4s;
            }
        }
    }

    .rewards-section:nth-child(5) {
        font-size: 0.875rem;

        h2, .intro {
            text-align: center;
        }

        .endless-extras-container {
            padding-top: 3rem;

            .endless-extras {
                display: flex;

                button {
                    background-color: transparent;
                    padding: 0 1rem 1rem 0;
                    border: none;

                    img {
                        height: 7rem;
                        width: 7rem;
                    }
                }

                .text {
                    p {
                        margin: 1rem 0;
                    }

                    a {
                        color: $word-color-6;
                        text-decoration: underline;
                    }

                    a:hover {
                        text-decoration: none;
                    }
                }
            }

            .endless-extras:nth-child(2) {
                padding: 2rem 0;
            }
        }
    }

    .rewards-section:nth-child(6) {
        padding: 3rem 1rem;
        background-color: $background-4;

        h2, .intro {
            text-align: center;
        }

        .earn-stars-container {
            margin-top: 4rem;

            .earn-stars {
                h3 {
                    span {
                        font-size: 1rem;
                    }
                }

                p {
                    font-size: 0.875rem;
                }

                .content {
                    margin-top: 2rem;
                    display: flex;

                    img {
                        width: 7rem;
                        margin-right: 1rem;
                    }

                    .text {
                        h4 {
                            margin-bottom: 1rem;
                        }

                        p {
                            a {
                                color: $word-color-6;
                            }
                        }
                    }
                }
            }

            .earn-stars:nth-child(2) {
                padding: 3.5rem 0;
            }
        }
    }

    .rewards-section:nth-child(7) {
        form {
            padding-top: 1rem;

            .star-code-input {
                padding: 0.75rem 0;

                .star-code-form {
                    position: relative;

                    label {
                        background-color: $background-5;
                        pointer-events: none;
                        position: absolute;
                        left: 1rem;
                        top: 50%;
                        transform: translate(0, -50%);
                        transition: 0.2s;
                    }
        
                    input {
                        width: 100%;
                        padding: 0.75rem 1rem;
                        border: $dim-gray solid 1px;
                        border-radius: 10px;
                        outline: none;
                    }
                }

                p {
                    padding-left: 1rem;
                    display: none;
                    align-items: center;
                    font-size: 0.75rem;

                    span {
                        margin-right: 0.5rem;
                        color: $word-color-8;
                        font-size: 1.25rem;
                    }
                }
            }

            .star-code-input.have-text {
                .star-code-form {
                    label {
                        padding: 0 0.25rem;
                        font-size: 0.8125rem;
                        top: 0;
                        transform: translate(0, -0.75rem);
                        transition: 0.2s;
                    }
                }
            }

            .star-code-input.active {
                .star-code-form {
                    label {
                        padding: 0 0.25rem;
                        color: $word-color-6;
                        font-size: 0.8125rem;
                        top: 0;
                        transform: translate(0, -0.75rem);
                        transition: 0.2s;
                    }
    
                    input {
                        border: $input-border-1 solid 2px;
                    }
                }
            }

            .star-code-input.error {
                padding: 0.75rem 0 0;

                .star-code-form {
                    label {
                        color: $word-color-8;
                        font-size: 1rem;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
    
                    input {
                        border: $input-border-2 solid 2px;
                    }
                }

                p {
                    display: flex;
                }
            }

            .star-code-input.active.error {
                .star-code-form {
                    label {
                        padding: 0 0.25rem;
                        color: $word-color-8;
                        font-size: 0.8125rem;
                        top: 0;
                        transform: translate(0, -0.75rem);
                        transition: 0.2s;
                    }
    
                    input {
                        border: $input-border-2 solid 2px;
                    }
                }
            }

            button {
                margin: 0.5rem 0 0 auto;
                padding: 0.5rem 1rem;
                background-color: transparent;
                border: $btn-border-3 solid 1px;
                border-radius: 10rem;
                display: block;
                font-size: 0.875rem;
                font-weight: 700;
            }

            button:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .rewards-section:nth-child(8) {
        p {
            color: $word-color-4;
            line-height: 1.25rem;

            a {
                color: $word-color-7;
            }
        }
    }

    .rewards-section:nth-child(9) {
        p, h4 {
            color: $word-color-4;
            font-size: 0.8125rem;
            line-height: 1.25rem;
        }

        p {
            padding-bottom: 2rem;
        }

        div {
            p, h4 {
                padding-bottom: 1rem;

                a {
                    color: $word-color-7;
                }
            }
        }
    }
}