* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 2.25rem;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

input, button {
  font: inherit;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

body footer {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

body.active-navbar {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  body, body.active-navbar {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

main#rewards .rewards-section:nth-child(1) {
  padding: 0.4375rem 1rem;
  background-color: #1e3932;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main#rewards .rewards-section:nth-child(1) h1 {
  font-size: 0.8125rem;
}

main#rewards .rewards-section:nth-child(1) a {
  padding: 0.5rem 1rem;
  border: white solid 1px;
  border-radius: 10rem;
  color: white;
  line-height: 1rem;
}

main#rewards .rewards-section:nth-child(2) {
  background-color: #d4e9e2;
}

main#rewards .rewards-section:nth-child(2) .heading-container {
  width: 61%;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#rewards .rewards-section:nth-child(2) .heading-container h1 {
  font-size: 1.75rem;
}

main#rewards .rewards-section:nth-child(2) .heading-container p {
  margin-top: 1rem;
  font-size: 1rem;
}

main#rewards .rewards-section:nth-child(2) .heading-container .join-in-app a, main#rewards .rewards-section:nth-child(2) .heading-container .join-online a {
  font-size: 0.875rem;
}

main#rewards .rewards-section:nth-child(2) .heading-container .join-in-app {
  margin-top: 2rem;
}

main#rewards .rewards-section:nth-child(2) .heading-container .join-in-app a {
  padding: 0.5rem 1rem;
  background-color: #00754a;
  border-radius: 10rem;
  color: white;
}

main#rewards .rewards-section:nth-child(2) .heading-container .join-online {
  margin-top: 1rem;
}

main#rewards .rewards-section:nth-child(2) .heading-container .join-online a {
  color: black;
  text-decoration: underline;
}

main#rewards .rewards-section:nth-child(2) .heading-container .join-online a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=Rewards.css.map */