@import "../../assets/global-styles/global-styles";

.banner {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: $banner-background;
    color: $word-color-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 20;

    h1 {
        font-size: 0.8125rem;
    }

    a {
        padding: 0.5rem 1rem;
        border: $btn-border-1 solid 1px;
        border-radius: 10rem;
        color: $word-color-1;
        line-height: 1rem;
    }
}

main#Rewards {
    .rewards-section {
        margin-bottom: 4.5rem;
        padding: 0 1rem;
        color: $word-color-5;

        h2 {
            font-size: 1.5rem;
        }

        .intro {
            padding-top: 1rem;
            font-size: 0.875rem;
        }
    }

    // .rewards-section:nth-child(1) {
    //     margin: 0;
    //     padding: 0.5rem 1rem;
    //     background-color: $banner-background;
    //     color: $word-color-1;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     position: sticky;
    //     top: 0;
    //     z-index: 1;

    //     h1 {
    //         font-size: 0.8125rem;
    //     }

    //     a {
    //         padding: 0.5rem 1rem;
    //         border: $btn-border-1 solid 1px;
    //         border-radius: 10rem;
    //         color: $word-color-1;
    //         line-height: 1rem;
    //     }
    // }

    .rewards-section:nth-child(1) {
        padding: 0 0 20rem 0;
        background: $background-1 url("../../assets/images/Rewards/Rewards-hero-mobile.webp") no-repeat bottom left;
        background-size: 100%;

        .heading-container {
            width: 61%;
            margin: 0 auto;
            padding: 2rem 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 1.75rem;
            }

            .intro {
                font-size: 1rem;
            }

            .join-in-app, .join-online {
                a {
                    font-size: 0.875rem;
                }

                .mobile {
                    display: inline-block;
                }

                .desktop {
                    display: none;
                }
            }

            .join-in-app {
                margin-top: 2rem;

                a {
                    padding: 0.5rem 1rem;
                    background-color: $background-3;
                    border-radius: 10rem;
                    color: $word-color-1;
                }
            }

            .join-online {
                margin-top: 1rem;
                
                a {
                    color: $word-color-2;
                    text-decoration: underline;
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .rewards-section:nth-child(2) {
        font-size: 0.875rem;

        h2 {
            text-align: center;
        }

        .intro {
            padding-bottom: 3rem;
            text-align: center;
        }

        .getting-started-container {
            .getting-started {
                display: flex;
    
                img {
                    height: 3rem;
                    width: 3rem;
                    margin-right: 1rem;
                }
    
                .text {
                    h3 {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
    
                    p {
                        padding-top: 1rem;
                        line-height: 1.25rem;
    
                        a {
                            color: $word-color-7;
                            font-size: 0.875rem;
                            font-weight: 700;
                        }
                    }
                }
            }
    
            .getting-started:nth-child(2) {
                margin: 2rem 0;
            }
        }
    }

    .rewards-section:nth-child(3) {
        padding: 0;
        background-color: rgba(212, 233, 226, 0.3);

        h2 {
            padding: 3rem 0 1rem;
            text-align: center;
        }

        .option-btn {
            display: grid;
            grid-auto-columns: minmax(0, 1fr);
            grid-auto-flow: column;
            position: relative;

            button {
                padding: 0.5rem 0 1rem;
                background-color: transparent;
                border: none;
                font-size: 1.1875rem;
                font-weight: 700;

                span {
                    color: $star;
                    font-size: 0.65rem;
                    pointer-events: none;
                }
            }

            .underline {
                height: 0.25rem;
                width: 20%;
                background-color: $underline-current-1;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.4s;
            }
        }

        .option {
            padding: 2rem 0;
            background-color: $background-1;

            .content {
                display: none;
                animation: fadeEffect 0.4s;

                img {
                    width: 100%;
                    padding: 1rem 0;
                }

                .text {
                    h3, p {
                        padding: 0 1rem;
                        line-height: 1.25rem;
                        text-align: center;
                    }
    
                    h3 {
                        margin-bottom: 1rem;
                        font-size: 1.25rem;
                    }
    
                    p {
                        font-size: 0.875rem;
                    }
                }
            }

            .content.active {
                display: block;
                animation: fadeEffect 0.4s;
            }
        }
    }

    .rewards-section:nth-child(4) {
        font-size: 0.875rem;

        h2, .intro {
            text-align: center;
        }

        .endless-extras-container {
            padding-top: 3rem;

            .endless-extras {
                display: flex;

                button {
                    background-color: transparent;
                    padding: 0 1rem 1rem 0;
                    border: none;

                    img {
                        height: 7rem;
                        width: 7rem;
                    }
                }

                .text {
                    p {
                        margin: 1rem 0;
                    }

                    a {
                        color: $word-color-6;
                        text-decoration: underline;
                    }

                    a:hover {
                        text-decoration: none;
                    }
                }
            }

            .endless-extras:nth-child(2) {
                padding: 2rem 0;
            }
        }
    }

    .rewards-section:nth-child(5) {
        padding: 3rem 1rem;
        background-color: $background-4;

        h2, .intro {
            text-align: center;
        }

        .earn-stars-container {
            margin-top: 4rem;

            .earn-stars {
                .title {
                    h3 {
                        span {
                            font-size: 1rem;
                        }
                    }
    
                    p {
                        font-size: 0.875rem;
                    }
                }

                .container {
                    .content {
                        margin-top: 2rem;
                        display: flex;
    
                        img {
                            height: 10rem;
                            width: 7rem;
                            margin-right: 1rem;
                        }
    
                        .text {
                            h4 {
                                margin-bottom: 1rem;
                            }
    
                            p {
                                a {
                                    color: $word-color-6;
                                }
                            }
                        }
                    }
                }
            }

            .earn-stars:nth-child(2) {
                padding: 3.5rem 0;
            }
        }
    }

    .rewards-section:nth-child(6) {
        form {
            padding-top: 1rem;

            .star-code-input {
                padding: 0.75rem 0;

                .star-code-form {
                    position: relative;

                    label {
                        background-color: $background-5;
                        pointer-events: none;
                        position: absolute;
                        left: 1rem;
                        top: 50%;
                        transform: translate(0, -50%);
                        transition: 0.2s;
                    }
        
                    input {
                        width: 100%;
                        padding: 0.75rem 1rem;
                        border: $dim-gray solid 1px;
                        border-radius: 10px;
                        outline: none;
                    }
                }

                p {
                    padding-left: 1rem;
                    display: none;
                    align-items: center;
                    font-size: 0.75rem;

                    span {
                        margin-right: 0.5rem;
                        color: $word-color-8;
                        font-size: 1.25rem;
                    }
                }
            }

            .star-code-input.have-text {
                .star-code-form {
                    label {
                        padding: 0 0.25rem;
                        font-size: 0.8125rem;
                        top: 0;
                        transform: translate(0, -0.75rem);
                        transition: 0.2s;
                    }
                }
            }

            .star-code-input.active {
                .star-code-form {
                    label {
                        padding: 0 0.25rem;
                        color: $word-color-6;
                        font-size: 0.8125rem;
                        top: 0;
                        transform: translate(0, -0.75rem);
                        transition: 0.2s;
                    }
    
                    input {
                        border: $input-border-1 solid 2px;
                    }
                }
            }

            .star-code-input.error {
                padding: 0.75rem 0 0;

                .star-code-form {
                    label {
                        color: $word-color-8;
                        font-size: 1rem;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
    
                    input {
                        border: $input-border-2 solid 2px;
                    }
                }

                p {
                    display: flex;
                }
            }

            .star-code-input.active.error {
                .star-code-form {
                    label {
                        padding: 0 0.25rem;
                        color: $word-color-8;
                        font-size: 0.8125rem;
                        top: 0;
                        transform: translate(0, -0.75rem);
                        transition: 0.2s;
                    }
    
                    input {
                        border: $input-border-2 solid 2px;
                    }
                }
            }

            button {
                margin: 0.5rem 0 0 auto;
                padding: 0.5rem 1rem;
                background-color: transparent;
                border: $btn-border-3 solid 1px;
                border-radius: 10rem;
                display: block;
                font-size: 0.875rem;
                font-weight: 700;
            }

            button:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .rewards-section:nth-child(7) {
        p {
            color: $word-color-4;
            line-height: 1.25rem;

            a {
                color: $word-color-7;
            }
        }
    }

    .rewards-section:nth-child(8) {
        p, h4 {
            color: $word-color-4;
            font-size: 0.8125rem;
            line-height: 1.25rem;
        }

        p {
            padding-bottom: 2rem;
        }

        div {
            p, h4 {
                padding-bottom: 1rem;

                a {
                    color: $word-color-7;
                }
            }
        }
    }
}

@media only screen and (min-width: 786px) {
    main#Rewards {
        .rewards-section {
            margin-bottom: 8rem;
            padding: 0 2.5rem;

            h2 {
                font-size: 1.75rem;
            }

            .intro {
                padding-top: 1rem;
                font-size: 1rem;
            }
        }

        .rewards-section:nth-child(1) {
            padding: 7rem 0;
            background: $background-1 url("../../assets/images/Rewards/Rewards-hero-desktop.webp") no-repeat center right 45%;
            background-size: cover;

            .heading-container {
                margin: 0;
                padding: 2rem 1.5rem;
                text-align: left;

                h1 {
                    font-size: 2.25rem;
                }

                .join-in-app, .join-online {    
                    .mobile {
                        display: none;
                    }
    
                    .desktop {
                        display: inline-block;
                    }
                }
            }
        }

        .rewards-section:nth-child(2) {
            h2, .intro {
                width: 50%;
                margin: 0 auto;
            }

            .getting-started-container {
                padding: 0 6%;
                display: grid;
                grid-auto-columns: minmax(0, 1fr);
                grid-auto-flow: column;
                grid-column-gap: 3rem;

                .getting-started {
                    margin: 0 !important;
                    display: block;
                    text-align: center;

                    img {
                        margin: 0;
                        margin-bottom: 1.5rem;
                    }

                    .text {
                        h3 {
                            font-size: 1.1875rem;
                        }
    
                        p {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }

        .rewards-section:nth-child(3) {
            .option-btn {
                width: 34rem;
                margin: 0 auto;

                button {
                    font-size: 1.5rem;

                    span {
                        font-size: 0.875rem;
                    }
                }
            }

            .option {
                width: 80%;
                margin: 0 auto;

                .content {
                    img {
                        width: 23.5rem;
                        margin-right: 1.5rem;
                    }
                    
                    .text {
                        h3, p {
                            text-align: left;
                        }

                        h3 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }

                .content.active {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .rewards-section:nth-child(4) {
            h2, .intro {
                width: 50%;
                margin: 0 auto;
            }

            .endless-extras-container {
                padding: 3rem 6% 0;
                display: grid;
                grid-auto-columns: minmax(0, 1fr);
                grid-auto-flow: column;
                grid-column-gap: 3rem;

                .endless-extras {
                    padding: 0 !important;
                    display: block;
                    text-align: center;

                    button {
                        padding: 0;
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }

        .rewards-section:nth-child(5) {
            h2, .intro {
                width: 50%;
                margin: 0 auto;
            }

            .earn-stars-container {
                .earn-stars {
                    display: grid;

                    .title {
                        grid-column: 1;
                        grid-row: 1;
                        width: 10rem;
                    }

                    .container {
                        grid-column: 1;
                        grid-row: 2;
                        display: grid;
                        grid-auto-columns: minmax(0, 1fr);
                        grid-auto-flow: column;

                        .content {
                            margin-top: 0;
                        }
                    }
                }

                .earn-stars:nth-child(3) {
                    .container {
                        .content {
                            width: 50%;
                        }
                    }
                }
            }
        }

        .rewards-section:nth-child(6), .rewards-section:nth-child(7) {
            width: 50%;
            margin-left: 10rem;
        }

        .rewards-section:nth-child(8) {
            display: grid;
            grid-column-gap: 2rem;

            div:nth-child(1) {
                grid-column: 1/3;
                grid-row: 1;
            }

            div:nth-child(2) {
                grid-column: 1;
                grid-row: 2;
            }

            div:nth-child(3) {
                grid-column: 2;
                grid-row: 2;
            }

            div:nth-child(4) {
                grid-column: 1;
                grid-row: 3;
            }

            div:nth-child(5) {
                grid-column: 2;
                grid-row: 3;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .banner {
        height: 3.125rem;
        width: 100%;
        padding-left: 7rem;
        position: fixed;
        top: 6.25rem;

        h1 {
            font-size: 1rem;
        }

        a {
            display: none;
        }
    }

    main#Rewards {
        margin-top: 6.25rem;
        padding-top: 3.125rem;

        // .rewards-section:nth-child(1) {
        //     height: 3.125rem;
        //     width: 100%;
        //     padding-left: 7rem;
        //     position: fixed;
        //     top: 6.25rem;

        //     h1 {
        //         font-size: 1rem;
        //     }

        //     a {
        //         display: none;
        //     }
        // }

        .rewards-section:nth-child(5) {
            .earn-stars-container {
                .earn-stars {
                    .container {
                        grid-column: 2;
                        grid-row: 1;
                    }
                }
            }
        }
    }
}