* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

input, button {
  font: inherit;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

body footer {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

body.active-navbar {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  body, body.active-navbar {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

main#Rewards .rewards-section {
  margin-bottom: 4.5rem;
  padding: 0 1rem;
  color: #212121;
}

main#Rewards .rewards-section h2 {
  font-size: 1.5rem;
}

main#Rewards .rewards-section .intro {
  padding-top: 1rem;
  font-size: 0.875rem;
}

main#Rewards .rewards-section:nth-child(1) {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: #1e3932;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

main#Rewards .rewards-section:nth-child(1) h1 {
  font-size: 0.8125rem;
}

main#Rewards .rewards-section:nth-child(1) a {
  padding: 0.5rem 1rem;
  border: white solid 1px;
  border-radius: 10rem;
  color: white;
  line-height: 1rem;
}

main#Rewards .rewards-section:nth-child(2) {
  padding: 0 0 20rem 0;
  background: #d4e9e2 url("../../assets/images/Rewards-hero-mobile.webp") no-repeat bottom left;
  background-size: 100%;
}

main#Rewards .rewards-section:nth-child(2) .heading-container {
  width: 61%;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#Rewards .rewards-section:nth-child(2) .heading-container h1 {
  font-size: 1.75rem;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .intro {
  font-size: 1rem;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app a, main#Rewards .rewards-section:nth-child(2) .heading-container .join-online a {
  font-size: 0.875rem;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app .mobile, main#Rewards .rewards-section:nth-child(2) .heading-container .join-online .mobile {
  display: inline-block;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app .desktop, main#Rewards .rewards-section:nth-child(2) .heading-container .join-online .desktop {
  display: none;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app {
  margin-top: 2rem;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app a {
  padding: 0.5rem 1rem;
  background-color: #00754a;
  border-radius: 10rem;
  color: white;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-online {
  margin-top: 1rem;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-online a {
  color: black;
  text-decoration: underline;
}

main#Rewards .rewards-section:nth-child(2) .heading-container .join-online a:hover {
  text-decoration: none;
}

main#Rewards .rewards-section:nth-child(3) {
  font-size: 0.875rem;
}

main#Rewards .rewards-section:nth-child(3) h2 {
  text-align: center;
}

main#Rewards .rewards-section:nth-child(3) .intro {
  padding-bottom: 3rem;
  text-align: center;
}

main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started img {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started .text h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started .text p {
  padding-top: 1rem;
  line-height: 1.25rem;
}

main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started .text p a {
  color: #00a862;
  font-size: 0.875rem;
  font-weight: 700;
}

main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started:nth-child(2) {
  margin: 2rem 0;
}

main#Rewards .rewards-section:nth-child(4) {
  padding: 0;
  background-color: rgba(212, 233, 226, 0.3);
}

main#Rewards .rewards-section:nth-child(4) h2 {
  padding: 3rem 0 1rem;
  text-align: center;
}

main#Rewards .rewards-section:nth-child(4) .option-btn {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  position: relative;
}

main#Rewards .rewards-section:nth-child(4) .option-btn button {
  padding: 0.5rem 0 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.1875rem;
  font-weight: 700;
}

main#Rewards .rewards-section:nth-child(4) .option-btn button span {
  color: #cba258;
  font-size: 0.65rem;
  pointer-events: none;
}

main#Rewards .rewards-section:nth-child(4) .option-btn .underline {
  height: 0.25rem;
  width: 20%;
  background-color: #00754a;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main#Rewards .rewards-section:nth-child(4) .option {
  padding: 2rem 0;
  background-color: #d4e9e2;
}

main#Rewards .rewards-section:nth-child(4) .option .content {
  display: none;
  -webkit-animation: fadeEffect 0.4s;
          animation: fadeEffect 0.4s;
}

main#Rewards .rewards-section:nth-child(4) .option .content img {
  width: 100%;
  padding: 1rem 0;
}

main#Rewards .rewards-section:nth-child(4) .option .content .text h3, main#Rewards .rewards-section:nth-child(4) .option .content .text p {
  padding: 0 1rem;
  line-height: 1.25rem;
  text-align: center;
}

main#Rewards .rewards-section:nth-child(4) .option .content .text h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

main#Rewards .rewards-section:nth-child(4) .option .content .text p {
  font-size: 0.875rem;
}

main#Rewards .rewards-section:nth-child(4) .option .content.active {
  display: block;
  -webkit-animation: fadeEffect 0.4s;
          animation: fadeEffect 0.4s;
}

main#Rewards .rewards-section:nth-child(5) {
  font-size: 0.875rem;
}

main#Rewards .rewards-section:nth-child(5) h2, main#Rewards .rewards-section:nth-child(5) .intro {
  text-align: center;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container {
  padding-top: 3rem;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras button {
  background-color: transparent;
  padding: 0 1rem 1rem 0;
  border: none;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras button img {
  height: 7rem;
  width: 7rem;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras .text p {
  margin: 1rem 0;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras .text a {
  color: #00754a;
  text-decoration: underline;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras .text a:hover {
  text-decoration: none;
}

main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras:nth-child(2) {
  padding: 2rem 0;
}

main#Rewards .rewards-section:nth-child(6) {
  padding: 3rem 1rem;
  background-color: #f2f0eb;
}

main#Rewards .rewards-section:nth-child(6) h2, main#Rewards .rewards-section:nth-child(6) .intro {
  text-align: center;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container {
  margin-top: 4rem;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .title h3 span {
  font-size: 1rem;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .title p {
  font-size: 0.875rem;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container .content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container .content img {
  height: 10rem;
  width: 7rem;
  margin-right: 1rem;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container .content .text h4 {
  margin-bottom: 1rem;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container .content .text p a {
  color: #00754a;
}

main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars:nth-child(2) {
  padding: 3.5rem 0;
}

main#Rewards .rewards-section:nth-child(7) form {
  padding-top: 1rem;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input {
  padding: 0.75rem 0;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input .star-code-form {
  position: relative;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input .star-code-form label {
  background-color: white;
  pointer-events: none;
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input .star-code-form input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: #646464 solid 1px;
  border-radius: 10px;
  outline: none;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input p {
  padding-left: 1rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input p span {
  margin-right: 0.5rem;
  color: #d62b1f;
  font-size: 1.25rem;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.have-text .star-code-form label {
  padding: 0 0.25rem;
  font-size: 0.8125rem;
  top: 0;
  -webkit-transform: translate(0, -0.75rem);
          transform: translate(0, -0.75rem);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.active .star-code-form label {
  padding: 0 0.25rem;
  color: #00754a;
  font-size: 0.8125rem;
  top: 0;
  -webkit-transform: translate(0, -0.75rem);
          transform: translate(0, -0.75rem);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.active .star-code-form input {
  border: #00754a solid 2px;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.error {
  padding: 0.75rem 0 0;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.error .star-code-form label {
  color: #d62b1f;
  font-size: 1rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.error .star-code-form input {
  border: #d62b1f solid 2px;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.error p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.active.error .star-code-form label {
  padding: 0 0.25rem;
  color: #d62b1f;
  font-size: 0.8125rem;
  top: 0;
  -webkit-transform: translate(0, -0.75rem);
          transform: translate(0, -0.75rem);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Rewards .rewards-section:nth-child(7) form .star-code-input.active.error .star-code-form input {
  border: #d62b1f solid 2px;
}

main#Rewards .rewards-section:nth-child(7) form button {
  margin: 0.5rem 0 0 auto;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: black solid 1px;
  border-radius: 10rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
}

main#Rewards .rewards-section:nth-child(7) form button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main#Rewards .rewards-section:nth-child(8) p {
  color: #646464;
  line-height: 1.25rem;
}

main#Rewards .rewards-section:nth-child(8) p a {
  color: #00a862;
}

main#Rewards .rewards-section:nth-child(9) p, main#Rewards .rewards-section:nth-child(9) h4 {
  color: #646464;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

main#Rewards .rewards-section:nth-child(9) p {
  padding-bottom: 2rem;
}

main#Rewards .rewards-section:nth-child(9) div p, main#Rewards .rewards-section:nth-child(9) div h4 {
  padding-bottom: 1rem;
}

main#Rewards .rewards-section:nth-child(9) div p a, main#Rewards .rewards-section:nth-child(9) div h4 a {
  color: #00a862;
}

@media only screen and (min-width: 786px) {
  main#Rewards .rewards-section {
    margin-bottom: 8rem;
    padding: 0 2.5rem;
  }
  main#Rewards .rewards-section h2 {
    font-size: 1.75rem;
  }
  main#Rewards .rewards-section .intro {
    padding-top: 1rem;
    font-size: 1rem;
  }
  main#Rewards .rewards-section:nth-child(2) {
    padding: 7rem 0;
    background: #d4e9e2 url("../../assets/images/Rewards-hero-desktop.webp") no-repeat center right 45%;
    background-size: cover;
  }
  main#Rewards .rewards-section:nth-child(2) .heading-container {
    margin: 0;
    padding: 2rem 1.5rem;
    text-align: left;
  }
  main#Rewards .rewards-section:nth-child(2) .heading-container h1 {
    font-size: 2.25rem;
  }
  main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app .mobile, main#Rewards .rewards-section:nth-child(2) .heading-container .join-online .mobile {
    display: none;
  }
  main#Rewards .rewards-section:nth-child(2) .heading-container .join-in-app .desktop, main#Rewards .rewards-section:nth-child(2) .heading-container .join-online .desktop {
    display: inline-block;
  }
  main#Rewards .rewards-section:nth-child(3) h2, main#Rewards .rewards-section:nth-child(3) .intro {
    width: 50%;
    margin: 0 auto;
  }
  main#Rewards .rewards-section:nth-child(3) .getting-started-container {
    padding: 0 6%;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 3rem;
  }
  main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started {
    margin: 0 !important;
    display: block;
    text-align: center;
  }
  main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started img {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started .text h3 {
    font-size: 1.1875rem;
  }
  main#Rewards .rewards-section:nth-child(3) .getting-started-container .getting-started .text p {
    font-size: 0.875rem;
  }
  main#Rewards .rewards-section:nth-child(4) .option-btn {
    width: 34rem;
    margin: 0 auto;
  }
  main#Rewards .rewards-section:nth-child(4) .option-btn button {
    font-size: 1.5rem;
  }
  main#Rewards .rewards-section:nth-child(4) .option-btn button span {
    font-size: 0.875rem;
  }
  main#Rewards .rewards-section:nth-child(4) .option {
    width: 80%;
    margin: 0 auto;
  }
  main#Rewards .rewards-section:nth-child(4) .option .content img {
    width: 23.5rem;
    margin-right: 1.5rem;
  }
  main#Rewards .rewards-section:nth-child(4) .option .content .text h3, main#Rewards .rewards-section:nth-child(4) .option .content .text p {
    text-align: left;
  }
  main#Rewards .rewards-section:nth-child(4) .option .content .text h3 {
    font-size: 1.5rem;
  }
  main#Rewards .rewards-section:nth-child(4) .option .content .text p {
    font-size: 1rem;
  }
  main#Rewards .rewards-section:nth-child(4) .option .content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main#Rewards .rewards-section:nth-child(5) h2, main#Rewards .rewards-section:nth-child(5) .intro {
    width: 50%;
    margin: 0 auto;
  }
  main#Rewards .rewards-section:nth-child(5) .endless-extras-container {
    padding: 3rem 6% 0;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 3rem;
  }
  main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras {
    padding: 0 !important;
    display: block;
    text-align: center;
  }
  main#Rewards .rewards-section:nth-child(5) .endless-extras-container .endless-extras button {
    padding: 0;
    padding-bottom: 1.5rem;
  }
  main#Rewards .rewards-section:nth-child(6) h2, main#Rewards .rewards-section:nth-child(6) .intro {
    width: 50%;
    margin: 0 auto;
  }
  main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars {
    display: -ms-grid;
    display: grid;
  }
  main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .title {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 10rem;
  }
  main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }
  main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container .content {
    margin-top: 0;
  }
  main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars:nth-child(3) .container .content {
    width: 50%;
  }
  main#Rewards .rewards-section:nth-child(7), main#Rewards .rewards-section:nth-child(8) {
    width: 50%;
    margin-left: 10rem;
  }
  main#Rewards .rewards-section:nth-child(9) {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 2rem;
  }
  main#Rewards .rewards-section:nth-child(9) div:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  main#Rewards .rewards-section:nth-child(9) div:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  main#Rewards .rewards-section:nth-child(9) div:nth-child(3) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  main#Rewards .rewards-section:nth-child(9) div:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  main#Rewards .rewards-section:nth-child(9) div:nth-child(5) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media only screen and (min-width: 1024px) {
  main#Rewards {
    margin-top: 6.25rem;
    padding-top: 3.125rem;
  }
  main#Rewards .rewards-section:nth-child(1) {
    height: 3.125rem;
    width: 100%;
    padding-left: 7rem;
    position: fixed;
    top: 6.25rem;
  }
  main#Rewards .rewards-section:nth-child(1) h1 {
    font-size: 1rem;
  }
  main#Rewards .rewards-section:nth-child(1) a {
    display: none;
  }
  main#Rewards .rewards-section:nth-child(6) .earn-stars-container .earn-stars .container {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
/*# sourceMappingURL=Rewards.css.map */