* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 2.25rem;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

input, button {
  font: inherit;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

body footer {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

body.active-navbar {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  body, body.active-navbar {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

header .header-container {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

header .header-container .container {
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .container .brand {
  height: 2.5rem;
  width: 2.5rem;
  background: url("../../assets/images/logo.svg") no-repeat center;
  background-size: contain;
}

header .header-container .container .navbar-toggler {
  height: 2.75rem;
  width: 2.75rem;
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .header-container .container .navbar-toggler .circle {
  height: 0rem;
  width: 0rem;
  border-radius: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-container .container .navbar-toggler div {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}

header .header-container .container .navbar-toggler div .bar {
  height: 0.125rem;
  width: 1.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

header .header-container .container .navbar-toggler div .bar:nth-child(1) {
  top: 0.375rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 0.5s navbar-toggler-bar-1-reverse linear;
          animation: 0.5s navbar-toggler-bar-1-reverse linear;
}

header .header-container .container .navbar-toggler div .bar:nth-child(2) {
  top: 0.75rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 0.5s navbar-toggler-bar-2-reverse linear;
          animation: 0.5s navbar-toggler-bar-2-reverse linear;
}

header .header-container .container .navbar-toggler div .bar:nth-child(3) {
  top: 1.125rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 0.5s navbar-toggler-bar-3-reverse linear;
          animation: 0.5s navbar-toggler-bar-3-reverse linear;
}

header .header-container .container .navbar-toggler:hover .circle {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-container .container .navbar-toggler.active div .bar:nth-child(1) {
  top: 0.75rem;
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
  -webkit-animation: 0.5s navbar-toggler-bar-1 linear;
          animation: 0.5s navbar-toggler-bar-1 linear;
}

header .header-container .container .navbar-toggler.active div .bar:nth-child(2) {
  opacity: 0;
  -webkit-animation: 0.5s navbar-toggler-bar-2 linear;
          animation: 0.5s navbar-toggler-bar-2 linear;
}

header .header-container .container .navbar-toggler.active div .bar:nth-child(3) {
  top: 0.75rem;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
  -webkit-animation: 0.5s navbar-toggler-bar-3 linear;
          animation: 0.5s navbar-toggler-bar-3 linear;
}

header nav {
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
  position: absolute;
  right: 0;
  top: 76px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav button {
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
}

header nav a {
  padding: 1rem 2rem;
  color: black;
  display: block;
}

header nav .nav-container {
  min-height: 100vh;
  width: 80%;
  margin: 0 0 0 auto;
  padding: 2rem 0 0;
  background-color: white;
  display: block;
  position: absolute;
  right: -100%;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .nav-container .navbar .nav-item {
  position: relative;
}

header nav .nav-container .navbar .nav-item .open-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-container .navbar .nav-item:nth-child(2) {
  display: none;
}

header nav .nav-container hr {
  margin: 1rem 2rem 2rem;
  border-color: rgba(0, 0, 0, 0.1);
}

header nav .nav-container .navbar-btn {
  width: 16rem;
  padding: 0 2rem;
}

header nav .nav-container .navbar-btn a {
  color: black;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
}

header nav .nav-container .navbar-btn div {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-container .navbar-btn div .sign-in-btn {
  padding: 0.5rem 1rem;
  border: black solid 1px;
  border-radius: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav .nav-container .navbar-btn div .sign-in-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav .nav-container .navbar-btn div .join-now-btn {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: black;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav .nav-container .navbar-btn div .join-now-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav .nav-container .navbar-btn .store-locator-btn {
  padding: 0;
  display: inline-block;
}

header nav .nav-container .navbar-btn .store-locator-btn i {
  margin-right: 0.5rem;
}

header nav .nav-container .navbar-btn .store-locator-btn:hover {
  color: #00754a;
}

header nav .nav-container.active {
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .menu {
  height: 100vh;
  width: 80%;
  background-color: white;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .menu .menu-item .close-btn {
  background-color: #f9f9f9;
  position: relative;
  text-align: left;
}

header nav .menu .menu-item .close-btn span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav .menu.active {
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav.active {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (min-width: 786px) {
  header {
    padding: 0 2.5rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-container {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .header-container .container {
    padding: 0;
  }
  header .header-container .container .brand {
    height: 3.125rem;
    width: 3.125rem;
  }
  header .header-container .container .navbar-toggler {
    display: none;
  }
  header nav {
    min-height: 0;
    width: 100%;
    top: 0;
    position: relative;
  }
  header nav a {
    padding: 2rem 0;
  }
  header nav .nav-container {
    min-height: 0;
    width: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.875rem;
    position: relative;
    right: 0;
  }
  header nav .nav-container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav-container .navbar .nav-item {
    margin-right: 1.5rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
  }
  header nav .nav-container .navbar .nav-item .open-btn {
    display: none;
  }
  header nav .nav-container .navbar .nav-item .nav-link.active {
    -webkit-box-shadow: inset 0 -6px #00754a;
            box-shadow: inset 0 -6px #00754a;
  }
  header nav .nav-container .navbar .nav-item:nth-child(2) {
    display: block;
  }
  header nav .nav-container hr {
    display: none;
  }
  header nav .nav-container .navbar-btn {
    width: auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-container .navbar-btn div {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  header nav .nav-container .navbar-btn div a {
    margin-right: 1rem;
  }
  header nav .nav-container .navbar-btn .store-locator-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 2.5rem;
  }
  header nav .menu {
    display: none;
  }
  header nav, header nav.active {
    background-color: transparent;
  }
}
/*# sourceMappingURL=Header.css.map */