* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

input, button {
  font: inherit;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@keyframes navbar-toggler-bar-1 {
  0% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-1-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 0.375rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes navbar-toggler-bar-2 {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navbar-toggler-bar-2-reverse {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@keyframes navbar-toggler-bar-3 {
  0% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
}

@-webkit-keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes navbar-toggler-bar-3-reverse {
  0% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
            transform: translate(-50%, -50%) rotate(135deg);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
  60% {
    top: 0.75rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    top: 1.125rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

body .link-btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .link-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body .link-btn:active {
  -webkit-transform: scale(0.95) translate(0);
          transform: scale(0.95) translate(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body.active-navbar {
  overflow: hidden;
}

@media only screen and (min-width: 786px) {
  body, body.active-navbar {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

main#Gift-cards {
  padding: 1.5rem 0 3rem;
}

main#Gift-cards section a {
  font-size: 0.875rem;
  font-weight: 700;
}

main#Gift-cards section p {
  color: #646464;
  font-size: 0.875rem;
}

main#Gift-cards section .title {
  margin: 1rem 0;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main#Gift-cards section .title h1 {
  font-size: 0.8125rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main#Gift-cards section .title a {
  padding: 0.5rem 1rem;
  color: #00754a;
  font-size: 0.875rem;
}

main#Gift-cards section .card-section {
  padding: 1rem 0 1rem 0.5rem;
  position: relative;
  overflow-x: hidden;
}

main#Gift-cards section .card-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main#Gift-cards section .card-section ul li {
  width: calc((100vw - 17px - 0.5rem - 1rem) / 2);
  padding: 0 0.5rem;
}

main#Gift-cards section .card-section ul li a {
  pointer-events: none;
  opacity: 0.25;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main#Gift-cards section .card-section ul li a img {
  width: calc((100vw - 17px - 0.5rem - 1rem - 2 * 2 * 0.5rem) / 2);
  border-radius: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Gift-cards section .card-section ul li a:hover img {
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Gift-cards section .card-section ul li a.shown {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main#Gift-cards section .card-section button {
  height: 2.5rem;
  width: 2.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 5;
}

main#Gift-cards section .card-section button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main#Gift-cards section .card-section button:active {
  -webkit-transform: scale(0.95) translate(0, -50%);
          transform: scale(0.95) translate(0, -50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main#Gift-cards section .card-section .left-btn {
  left: 1rem;
}

main#Gift-cards section .card-section .right-btn {
  right: 1rem;
}

main#Gift-cards section:nth-child(1) .container {
  padding: 2.5rem 1rem 1rem;
  background-color: #d4e9e2;
}

main#Gift-cards section:nth-child(1) .container h1 {
  font-size: 1.1875rem;
}

main#Gift-cards section:nth-child(1) .container p {
  padding-bottom: 0.5rem;
}

main#Gift-cards section:nth-child(1) .container p span {
  color: #cba258;
  font-size: 0.75rem;
}

main#Gift-cards section:nth-child(1) .container div:nth-child(3) {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

main#Gift-cards section:nth-child(1) .container div:nth-child(3) a {
  padding: 0.5rem 1rem;
  border: black solid 1px;
  border-radius: 10rem;
  color: #212121;
  display: inline-block;
}

main#Gift-cards section:nth-child(1) .container div:nth-child(3) a:nth-child(2) {
  margin-left: 1rem;
  background-color: black;
  color: white;
}

main#Gift-cards section:nth-child(1) .container div:nth-child(3) a:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.9);
}

main#Gift-cards section:nth-child(1) .container div:nth-child(4) {
  text-align: right;
}

main#Gift-cards section:nth-child(1) .container div:nth-child(4) a {
  color: #00754a;
}

main#Gift-cards section:nth-child(17) {
  padding: 2rem;
  background-color: #f9f9f9;
}

main#Gift-cards section:nth-child(17) img {
  width: 100%;
}

main#Gift-cards section:nth-child(17) .content {
  padding-right: 3.5rem;
}

main#Gift-cards section:nth-child(17) .content h2 {
  padding: 1.5rem 0 0.5rem;
  font-weight: 400;
}

main#Gift-cards section:nth-child(17) .content a {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: black solid 1px;
  border-radius: 10rem;
  color: #212121;
  display: inline-block;
}

main#Gift-cards section:nth-child(18) {
  padding: 2.5rem 2rem;
  background-color: #f2f0eb;
  color: #212121;
}

main#Gift-cards section:nth-child(18) h2 {
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
}

main#Gift-cards section:nth-child(18) div a {
  margin: 1rem 1rem 0 0;
  padding: 0.5rem 1rem;
  border: black solid 1px;
  border-radius: 10rem;
  color: #212121;
  display: inline-block;
}

@media only screen and (min-width: 475px) {
  main#Gift-cards section .card-section ul li {
    width: calc((100vw - 17px  - 0.5rem - 1rem - 2.5rem) / 3);
  }
  main#Gift-cards section .card-section ul li a img {
    width: calc((100vw - 17px  - 0.5rem - 1rem - 2.5rem - 3 * 2 * 0.5rem) / 3);
  }
}

@media only screen and (min-width: 786px) {
  main#Gift-cards section .title {
    padding-left: 7.125rem;
  }
  main#Gift-cards section .title a {
    font-size: 1rem;
  }
  main#Gift-cards section .card-section {
    padding: 1rem 0 1rem 6.625rem;
  }
  main#Gift-cards section .card-section ul li {
    width: calc((100vw - 17px - 1rem - 2.5rem - 6.625rem) / 3);
  }
  main#Gift-cards section .card-section ul li a img {
    width: calc((100vw - 17px - 1rem - 2.5rem - 6.625rem - 3 * 2 * 0.5rem) / 3);
  }
}

@media only screen and (min-width: 1024px) {
  main#Gift-cards {
    padding-top: 7.75rem;
  }
  main#Gift-cards section .card-section ul li {
    width: calc((100vw - 17px - 1.5rem - (2.5rem - 0.5rem) - 6.625rem) / 4);
  }
  main#Gift-cards section .card-section ul li a img {
    width: calc((100vw - 17px - 1.5rem - (2.5rem - 0.5rem) - 6.625rem - 4 * 2 * 0.5rem) / 4);
  }
  main#Gift-cards section .card-section .left-btn {
    left: 1.5rem;
  }
  main#Gift-cards section .card-section .right-btn {
    right: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  main#Gift-cards section .card-section {
    padding: 1rem 0 1rem 6.125rem;
  }
  main#Gift-cards section .card-section ul li {
    width: calc((100vw - 17px - 1.5rem - 2.5rem - 2rem - 6.125rem) / 4);
    padding: 0 1rem;
  }
  main#Gift-cards section .card-section ul li a img {
    width: calc((100vw - 17px - 1.5rem - 2.5rem - 2rem - 6.125rem - 4 * 2 * 1rem) / 4);
  }
}
/*# sourceMappingURL=GiftCards.css.map */